.user-image-component {
  display: flex;
  width: 45%;
  position: absolute;
  right: 0;
  top: -10px;
  text-align: right;

  .user-description {
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 900;
  }
  img {
    width: 65px;
    height: 65px;
  }
}
